.App {
  font-size: 14px;
}

.App-header {
  background-color: #30445c;
  height: 80px;
  color: #fff;
}

.App-meeting-title {
  padding: 0 20px;
}

.App-meeting-title h2 {
  margin: 15px 0 0 0;
}

.App-meeting-title h3 {
  font-weight: 100;
  margin: 5px 0 0 0;
}

.App-meeting-info {
  text-align: right;
  padding: 0 20px;
}

.App-meeting-info h3 {
  margin: 20px 0 0 0;
}

.App-meeting-info h4 {
  font-weight: 100;
  margin: 5px 0 0 0;
}