*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #f9f9f9;
}

a:link {
  color: #4183c4;
  text-decoration: none;
}

a:visited {
  color: #4183c4;
  text-decoration: none;
}

a:hover {
  color: #4183c4;
  text-decoration: underline;
}

a:active {
  color: #4183c4;
  text-decoration: none;
}

.container {
  width: 100%;
}

.container::after {
  content: "";
  display: block;
  clear: both;
}

.col-10 {
  width: 10%;
  float: left;
  min-height: 1px;
  position: relative;
}

.col-30 {
  width: 30%;
  float: left;
  min-height: 1px;
  position: relative;
}

.col-50 {
  width: 50%;
  float: left;
  min-height: 1px;
  position: relative;
}

.col-70 {
  width: 70%;
  float: left;
  min-height: 1px;
  position: relative;
}

.col-90 {
  width: 90%;
  float: left;
  min-height: 1px;
  position: relative;
}

.color-1 {
  background-color: #abe98a;
}

.color-2 {
  background-color: #e2e687;
}

.color-3 {
  background-color: #7fdbd8;
}

.color-4 {
  background-color: #e6828e;
}

.color-5 {
  background-color: #dba9f0;
}
