.Widget {
  background-color: #fff;
  overflow: auto;
  padding: 10px 20px;
  border: 1px solid #eee;
  border-radius: 10px;
}

.HeaderWidget {
  overflow: auto;
  padding: 0;
}

.HeaderWidget h1 {
  margin: 0;
}

.EmptyWidget {
  overflow: auto;
  height: 10px;
}

.NoteWidget {
  background-color: #f5f3dc;
  background: repeating-linear-gradient(
    to top,
    #ecebd1,
    #ecebd1 1px,
    #f5f3dc 1px,
    #f5f3dc 28px
  );
}

.ImageWidget {
  min-height: 300px;
  background-size: cover;
}

.ImageWidget:hover {
  cursor: pointer;
}